[include plr.cfg]
[include shell_command.cfg]

# This file contains pin mappings for the stock 2020 Creality Ender 3
# V2. To use this config, during "make menuconfig" select the
# STM32F103 with a "28KiB bootloader" and serial (on USART1 PA10/PA9)
# communication.

# If you prefer a direct serial connection, in "make menuconfig"
# select "Enable extra low-level configuration options" and select
# serial (on USART3 PB11/PB10), which is broken out on the 10 pin IDC
# cable used for the LCD module as follows:
# 3: Tx, 4: Rx, 9: GND, 10: VCC

# Flash this firmware by copying "out/klipper.bin" to a SD card and
# turning on the printer with the card inserted. The firmware
# filename must end in ".bin" and must not match the last filename
# that was flashed.

# See docs/Config_Reference.md for a description of parameters.

[include mainsail.cfg]
[include KlackEnder.cfg]



[stepper_x]
step_pin: PC2
dir_pin: PB9
enable_pin: !PC3
microsteps: 16
rotation_distance: 40
endstop_pin: ^PA5
position_endstop: -11
position_max: 250
homing_speed: 50
position_min: -11

[stepper_y]
step_pin: PB8
dir_pin: PB7
enable_pin: !PC3
microsteps: 16
rotation_distance: 40
endstop_pin: ^PA6
position_endstop: -15
position_max: 235
homing_speed: 50
position_min: -15

[stepper_z]
step_pin: PB6
dir_pin: !PB5
enable_pin: !PC3
microsteps: 16
rotation_distance: 8
endstop_pin: probe:z_virtual_endstop
#pin for zz endstop ^PA7
#position_endstop: 0.0
position_max: 250
position_min: -12


[extruder]
max_extrude_only_distance: 100.0
step_pin: PB4
dir_pin: PB3
enable_pin: !PC3
microsteps: 16
#rotation_distance: 34.406
rotation_distance:7.62944
nozzle_diameter: 0.400
filament_diameter: 1.750
heater_pin: PA1
sensor_type: EPCOS 100K B57560G104F
sensor_pin: PC5
#control: pid
pressure_advance: 0.011
# tuned for stock hardware with 200 degree Celsius target
#pid_Kp: 21.527
#pid_Ki: 1.063
#pid_Kd: 108.982
min_temp: -200
max_temp: 250

[heater_bed]
heater_pin: PA2
sensor_type: EPCOS 100K B57560G104F
sensor_pin: PC4
control: pid
# tuned for stock hardware with 50 degree Celsius target
pid_Kp: 54.027
pid_Ki: 0.770
pid_Kd: 948.182
min_temp: 0
max_temp: 130

[fan]
pin: PA0

[mcu]
serial: /dev/serial/by-id/usb-1a86_USB_Serial-if00-port0
restart_method: command

[printer]
kinematics: cartesian
max_velocity: 300
max_accel: 3000
max_z_velocity: 5
max_z_accel: 100


[output_pin BEEPER_Pin]
pin: PC6
pwm: True
value: 0
shutdown_value: 0
cycle_time: 0.001
scale: 1
[gcode_macro M300]
gcode:
 {% set tones = [1000, 1500, 2000, 2500, 3000, 2500, 2000, 1500, 1000] %} ; S sets the tone frequency
 {% for count in tones %}
 {% set cytime = 1 / count %}
 SET_PIN PIN=BEEPER_Pin VALUE={0.5} CYCLE_TIME={cytime} ;Play tone
 G4 P50 ;tone duration
 SET_PIN PIN=BEEPER_Pin VALUE=0
 {% endfor %}

######################################################################
# 128x64 Full Graphic Creality CR10 / ENDER 3 stockdisplay
######################################################################

# This section is used for a Creality "12864" display with a single
# ribbon cable between the display's EXP3 plug and the
# micro-controller board's EXP1 connector.

[display]
lcd_type: st7920
cs_pin: EXP1_7
sclk_pin: EXP1_6
sid_pin: EXP1_8
encoder_pins: ^EXP1_5, ^EXP1_3
click_pin: ^!EXP1_2



[board_pins]
aliases:
  EXP1_1=PC6,EXP1_3=PB10,EXP1_5=PB14,EXP1_7=PB12,EXP1_9=<GND>,
  EXP1_2=PB2,EXP1_4=PB11,EXP1_6=PB13,EXP1_8=PB15,EXP1_10=<5V>,
  PROBE_IN=PB0,PROBE_OUT=PB1,FIL_RUNOUT=PC6

  
[exclude_object]

[delayed_gcode shutdown_machine]
gcode:
     {action_call_remote_method("shutdown_machine")}
initial_duration: 0.0
[menu __main __poweroff]
type: command
enable: {printer.idle_timeout.state != "Printing"}
name: Turn off Pi
gcode:
     M117 Shutdown_RPI
     M118 Shutdown_RPI
     { menu.exit() }    
     UPDATE_DELAYED_GCODE ID=shutdown_machine DURATION=1

[virtual_sdcard]
path: ~/printer_data/gcodes
on_error_gcode: CANCEL_PRINT


[screws_tilt_adjust]
screw1: 28, 6     #screw coordinates need to be measure for YOUR specific printer
screw1_name: front left screw
screw2: 198, 6
screw2_name: front right screw
screw3: 198, 177
screw3_name: rear right screw
screw4: 28, 177
screw4_name: rear left screw
horizontal_move_z: 10
speed: 150   #speed of travel moves between screws
screw_thread: CW-M4  #measure your bed screw m3=3mm / m4=4mm / m5=5mm



[gcode_macro M600]
gcode:
    {% set X = params.X|default(50)|float %}
    {% set Y = params.Y|default(0)|float %}
    {% set Z = params.Z|default(10)|float %}
    SAVE_GCODE_STATE NAME=M600_state
    PAUSE
    G91
    G1 E-.8 F2700
    G1 Z{Z}
    G90
    G1 X{X} Y{Y} F3000
    G91
    G1 E-50 F1000
    RESTORE_GCODE_STATE NAME=M600_state

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [extruder]
#*# control = pid
#*# pid_kp = 32.329
#*# pid_ki = 2.874
#*# pid_kd = 90.926
#*#
#*# [bed_mesh default]
#*# version = 1
#*# points =
#*# 	0.094062, 0.156562, 0.130312, 0.126562, 0.117812, 0.062812, 0.059062, 1.532812
#*# 	0.090312, 0.071562, 0.050312, 0.037812, 0.025312, -0.032188, -0.085938, 1.576562
#*# 	0.125312, 0.086562, 0.055312, 0.021562, -0.009688, -0.069688, -0.089688, 1.535312
#*# 	0.091562, 0.055312, 0.027812, -0.004688, -0.030938, -0.108438, -0.143438, 1.421562
#*# 	0.090312, 0.070312, 0.052812, 0.025312, -0.000938, -0.062188, -0.077188, 1.239062
#*# 	0.090312, 0.047812, 0.024062, -0.014688, -0.033438, -0.120938, -0.148438, 1.422812
#*# 	0.012812, -0.012188, -0.023438, -0.043438, -0.049688, -0.107188, -0.115938, 1.387812
#*# 	0.100312, 0.051562, 0.025312, -0.024688, -0.047188, -0.123438, -0.145938, 1.114062
#*# x_count = 8
#*# y_count = 8
#*# mesh_x_pps = 4
#*# mesh_y_pps = 4
#*# algo = bicubic
#*# tension = 0.2
#*# min_x = 8.0
#*# max_x = 222.97
#*# min_y = 30.0
#*# max_y = 200.94000000000005
